<%# <div class="container-nav">
  <nav>
    <div>
        <a href="/"><i class="bi bi-arrow-left big-arrow icon"></i></a>
    </div>
    <div class="nav-items">
        <h4>Transaction</h4>
        <h6>Most Recent</h6>
        <h6>Most Achive</h6>
    </div>
  </nav>
</div> %>

<div class="home-section">
  <div class="home-section-text">
    <strong><h1 class="home-heading">Budget Lines</h1></strong>
  </div>
  <div class="homePageButtonBox">
    <%= link_to "Login", new_user_session_path, class: "buttonBox" %>
    <%= link_to "SignUp", new_user_registration_path, class: "buttonBox" %>
  </div>
</div>


