<div class="home-section">
  <div class="home-section-text">
    <strong><h1 class="home-heading">Budget Lines</h1></strong>
  </div>
  <div class="homePageButtonBox">
    <%= link_to "Log in", new_user_session_path, class: "buttonBox" %>
    <%= link_to "Sign up", new_user_registration_path, class: "buttonBox" %>
  </div>
</div>


