<h1><%= @category.name %></h1>

<ul>
  <% @expenditures.each do |expenditure| %>
    <li>
      <%= number_to_currency(expenditure.amount) %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a new expenditure", new_category_expenditure_path(@category) %>
